<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.3.0.90" targetFramework="net472" />
  <package id="BlackPearl.Controls.Library" version="2.0.4" targetFramework="net472" />
  <package id="Clipper" version="6.4.0" targetFramework="net472" />
  <package id="clipper_library" version="6.2.1" targetFramework="net472" />
  <package id="ColorMine" version="1.2.0" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Esprima" version="3.0.1" targetFramework="net472" />
  <package id="GeoAPI.CoordinateSystems" version="2.0.0-nuget005" targetFramework="net472" />
  <package id="GeoAPI.Core" version="2.0.0-nuget005" targetFramework="net472" />
  <package id="Jint" version="3.0.0-beta-2053" targetFramework="net472" />
  <package id="Mapbox.VectorTile" version="1.0.4-alpha2" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net472" />
  <package id="ModernWpfUis" version="1.4.0" targetFramework="net472" />
  <package id="NetVips" version="2.3.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="ProjNET" version="2.0.0" targetFramework="net472" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net472" />
  <!-- <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net472" />-->
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>