<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapsInMyFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapsInMyFolder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MapsInMyFolder.Properties.Settings>
            <setting name="MapBackground" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>True</value>
            </setting>
        </MapsInMyFolder.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MapsInMyFolder.Properties.Settings>
            <setting name="MaxRequestRedirection" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MaxRequestErrorRetry" serializeAs="String">
                <value>3</value>
            </setting>
        </MapsInMyFolder.Properties.Settings>
    </applicationSettings>
</configuration>